In [1]:
# использование vector для создания вектора
x <- vector(length = 2)

In [2]:
x

[1] FALSE FALSE

In [3]:
x[1] <- 5
x[2] <- 8

In [4]:
x

[1] 5 8

In [5]:
x[3] <- 4

In [6]:
x

[1] 5 8 4

In [9]:
# создание последовательности с шагом 1
5:9
3:-1

[1] 5 6 7 8 9

[1]  3  2  1  0 -1

In [11]:
# последовательности с другим шагом
seq(5,9, by = 0.25)

 [1] 5.00 5.25 5.50 5.75 6.00 6.25 6.50 6.75 7.00 7.25 7.50 7.75 8.00 8.25 8.50
[16] 8.75 9.00

In [13]:
# вектор с конкретной длиной. шаг определяется автоматически
seq(5, 9, length.out = 4)

[1] 5.000000 6.333333 7.666667 9.000000

In [14]:
 # не обязательно указывать имя аргумента целиком
seq(5, 9, length = 4)

[1] 5.000000 6.333333 7.666667 9.000000

In [15]:
# повторение векторов
rep(1:3, times = 3)

[1] 1 2 3 1 2 3 1 2 3

In [16]:
# повторение каждого элемента несколько раз
rep(1:3, each = 4)

 [1] 1 1 1 1 2 2 2 2 3 3 3 3

In [17]:
# повторение до необходимой длины
rep(1:3, length.out = 5)

[1] 1 2 3 1 2

In [18]:
# также можно указывать неполное название
rep(1:3, length = 5)

[1] 1 2 3 1 2

In [20]:
# для сравнения double не подходит оператор сравнения "=="
all.equal(0.1 + 0.05, 0.15)
0.1 + 0.05 == 0.15

[1] TRUE

[1] FALSE

In [25]:
# задача
t <- seq(0, 1, 1/3)
s <- seq(0, 1, 1/7)

In [26]:
t; s

[1] 0.0000000 0.3333333 0.6666667 1.0000000

[1] 0.0000000 0.1428571 0.2857143 0.4285714 0.5714286 0.7142857 0.8571429
[8] 1.0000000

In [29]:
unique(sort(c(t, s)))

 [1] 0.0000000 0.1428571 0.2857143 0.3333333 0.4285714 0.5714286 0.6666667
 [8] 0.7142857 0.8571429 1.0000000

In [36]:
# задача
get_fractions <- function(m, n) {
    x <- seq(0, 1, by = 1/m)
    y <- seq(0, 1, by = 1 / n)
    v <- sort(unique(c(x, y)), decreasing = T)
    return(v)

}

In [37]:
get_fractions(3, 7)

 [1] 1.0000000 0.8571429 0.7142857 0.6666667 0.5714286 0.4285714 0.3333333
 [8] 0.2857143 0.1428571 0.0000000

In [41]:
# typeof проверка типа вектора
typeof(c('a', 'b', 'c'))

[1] "character"

In [43]:
is.character(c(1, 2, 3, 4))

[1] FALSE

In [44]:
# приведение типов
# logical -> integer -> double -> character
b <- c(T, 1.5)
typeof(b)

[1] "double"

In [56]:
c <- c(5, b, 'abc')

In [57]:
typeof(c)

[1] "character"

In [58]:
# все элементы превратились в строки
c

[1] "5"   "1"   "1.5" "abc"

In [66]:
# принудительное приведение типов
as.numeric(c)

Warning message in eval(expr, envir, enclos):
“в результате преобразования созданы NA”

[1] 5.0 1.0 1.5  NA

In [68]:
# принудительное изменение длины вектора
v <- 1:100
length(v) <- 4

In [69]:
v

[1] 1 2 3 4

In [70]:
length(v) <- 7; v

[1]  1  2  3  4 NA NA NA

In [72]:
# именованные вектора
a <- c(one = 1, two = 2, three = 3 ,4);a

  one   two three
    1     2     3     4

In [73]:
names(a)

[1] "one"   "two"   "three" ""

In [75]:
a['one']

one
  1

In [76]:
a[1]

one
  1

In [77]:
# переприсвоить имена вектора
names(a) <- c("not one", "not two", "not three", "four")

In [78]:
a

  not one   not two not three      four
        1         2         3         4

In [79]:
# избавиться от имен
# names(a) <- NULL

In [80]:
# векторная арифметика
1:3 + c(1, 2, 3)

[1] 2 4 6

In [81]:
1:3 * c(1, 2, 3)

[1] 1 4 9

In [83]:
c(F, T, T) & c(1, 2, 3)

[1] FALSE  TRUE  TRUE

In [84]:
# функциональная векторизованность 
sqrt(1:4)

[1] 1.000000 1.414214 1.732051 2.000000

In [90]:
# огругление вниз до ближайшего целого
floor(seq(0,3, by = 0.25))

 [1] 0 0 0 0 1 1 1 1 2 2 2 2 3

In [92]:
# не векторизованные функции
sum(1:factorial(9))

[1] 65841128640

In [104]:
# Общий глоссарий для этого урока:

# ?c, ?":"
# ?seq, ?rep
# ?print
# ?all.equal
# ?typeof
# ?is.logical, ?as.logical, etc.
# ?length, ?names