In [1]:
# создание датафрейма

In [5]:
df <- data.frame(x = 1:4, y = LETTERS[1:4], z = c(T, F));df

  x y z
1 1 A  TRUE
2 2 B FALSE
3 3 C  TRUE
4 4 D FALSE

In [6]:
# сводка об объекте

In [7]:
str(df)

'data.frame':	4 obs. of  3 variables:
 $ x: int  1 2 3 4
 $ y: Factor w/ 4 levels "A","B","C","D": 1 2 3 4
 $ z: logi  TRUE FALSE TRUE FALSE

In [9]:
# имена строк

In [10]:
df <- data.frame(x = 1:4, y = LETTERS[1:4], z = c(T, F),
                row.names = c("Alpha", "Bravo", "Charlie", "Delta"));df

        x y z
Alpha   1 A  TRUE
Bravo   2 B FALSE
Charlie 3 C  TRUE
Delta   4 D FALSE

In [11]:
rownames(df)

[1] "Alpha"   "Bravo"   "Charlie" "Delta"

In [13]:
colnames(df)

[1] "x" "y" "z"

In [14]:
dimnames(df)

[[1]]
[1] "Alpha"   "Bravo"   "Charlie" "Delta"

[[2]]
[1] "x" "y" "z"

In [15]:
# проверить размерность

In [17]:
nrow(df)

[1] 4

In [19]:
ncol(df)

[1] 3

In [20]:
dim(df)

[1] 4 3

In [21]:
# lenfth возврощает количество столбцов, так как дф это список уложенный по стобцам

In [22]:
length(df)

[1] 3

In [23]:
# names возварощает имена столбцов

In [24]:
names(df)

[1] "x" "y" "z"

In [25]:
# общее количество элементов в дф
nrow(df) * ncol(df)

[1] 12

In [26]:
# индексация дф

In [28]:
df[3:4, -1]

        y z
Charlie C  TRUE
Delta   D FALSE

In [29]:
df

        x y z
Alpha   1 A  TRUE
Bravo   2 B FALSE
Charlie 3 C  TRUE
Delta   4 D FALSE

In [30]:
df[c(F, T), c("z", "x")]

      z     x
Bravo FALSE 2
Delta FALSE 4

In [33]:
# размерность схлопывается
df[,1]

[1] 1 2 3 4

In [34]:
# размерность не схлопывается
df[, 1, drop = F]

        x
Alpha   1
Bravo   2
Charlie 3
Delta   4

In [36]:
df$z

[1]  TRUE FALSE  TRUE FALSE

In [38]:
df[["z"]]

[1]  TRUE FALSE  TRUE FALSE

In [39]:
df[[3]]

[1]  TRUE FALSE  TRUE FALSE

In [40]:
# фильтрация по условию
df[df$x >2,]

        x y z
Charlie 3 C  TRUE
Delta   4 D FALSE

In [41]:
subset(df, x > 2)

        x y z
Charlie 3 C  TRUE
Delta   4 D FALSE

In [43]:
subset(df, x > 2, select = c(x, z))

        x z
Charlie 3  TRUE
Delta   4 FALSE

In [44]:
# комбинирование дф

In [45]:
rbind(df, data.frame(x = 5:6, y = c("K", "Z"), z = T, row.names = c("Kappa", "Zulu")))

        x y z
Alpha   1 A  TRUE
Bravo   2 B FALSE
Charlie 3 C  TRUE
Delta   4 D FALSE
Kappa   5 K  TRUE
Zulu    6 Z  TRUE

In [46]:
cbind(df, data.frame(season = c("Summer", "Autumn", "Winter", "Spring"), temp = c(20, 5, -10,5)))

        x y z     season temp
Alpha   1 A  TRUE Summer  20
Bravo   2 B FALSE Autumn   5
Charlie 3 C  TRUE Winter -10
Delta   4 D FALSE Spring   5

In [47]:
# комбинирование по ключу: merge

In [48]:
df

        x y z
Alpha   1 A  TRUE
Bravo   2 B FALSE
Charlie 3 C  TRUE
Delta   4 D FALSE

In [49]:
df_salary <- data.frame(x = c(3, 2, 6, 1), salary = c(100, 1000, 300, 500));df_salary

  x salary
1 3  100
2 2 1000
3 6  300
4 1  500

In [50]:
merge(df, df_salary, by = "x")

  x y z     salary
1 1 A  TRUE  500
2 2 B FALSE 1000
3 3 C  TRUE  100

In [51]:
# глоссарий

# ?data.frame
# ?str
# ?rownames, ?colnames, ?dimnames, ?nrow, ?ncol, ?dim
# ?subset, ?rbind, ?cbind, ?merge

In [53]:
typeof(df)

[1] "list"

In [129]:
df_attit <- attitude[, c("learning",  "complaints", "raises", "advance")]
df_attit <- head(df_attit[order(df_attit["learning"], decreasing = T),], n = 5)
which.max(rowSums(df_attit[, c("complaints", "raises", "advance")]))

29
 5

In [164]:
test_table <- read.table("input.csv", sep = ",", header = F)

In [155]:
readLines("input.csv")

[1] "\"a\", \"b\", \"c\", \"1993-04-12\", NA"
[2] "\"d\", \"f\", \"g\", \"2021-04-18\", \"Missing\""
[3] "\"a\", \"b\", \"c\", \"1993-04-12\", \"Not Missing\""
[4] "\"d\", \"f\", \"g\", \"2021-04-18\", \"Not Missing\""

In [147]:
test_table

  V1 V2 V3 V4          V5
1 a   b  c  1993-04-12  NA
2 d   f  g  2021-04-18  Missing
3 a   b  c  1993-04-12  Not Missing
4 d   f  g  2021-04-18  Not Missing

In [148]:
str(test_table)

'data.frame':	4 obs. of  5 variables:
 $ V1: Factor w/ 2 levels "a","d": 1 2 1 2
 $ V2: Factor w/ 2 levels " b"," f": 1 2 1 2
 $ V3: Factor w/ 2 levels " c"," g": 1 2 1 2
 $ V4: Factor w/ 2 levels " 1993-04-12",..: 1 2 1 2
 $ V5: Factor w/ 3 levels " Missing"," NA",..: 2 1 3 3

In [149]:
test_table$V4 <- as.Date(test_table$V4)

In [66]:
# удалить все наблюдения с пропущенными значениями

In [127]:
test_table$V5 <- as.character(test_table$V5)

In [151]:
na.omit(test_table)

  V1 V2 V3 V4         V5
1 a   b  c 1993-04-12  NA
2 d   f  g 2021-04-18  Missing
3 a   b  c 1993-04-12  Not Missing
4 d   f  g 2021-04-18  Not Missing

In [152]:
test_table

  V1 V2 V3 V4         V5
1 a   b  c 1993-04-12  NA
2 d   f  g 2021-04-18  Missing
3 a   b  c 1993-04-12  Not Missing
4 d   f  g 2021-04-18  Not Missing

In [124]:
test_table[complete.cases(test_table),]

  V1 V2 V3 V4          V5
1 a   b  c  1993-04-12  NA
2 d   f  g  2021-04-18  Missing
3 a   b  c  1993-04-12  Not Missing
4 d   f  g  2021-04-18  Not Missing

In [125]:
test_table

  V1 V2 V3 V4          V5
1 a   b  c  1993-04-12  NA
2 d   f  g  2021-04-18  Missing
3 a   b  c  1993-04-12  Not Missing
4 d   f  g  2021-04-18  Not Missing

In [166]:
test_table$V6 <- c(NA)

In [169]:
test_table

  V1 V2 V3 V4          V5           V6
1 a   b  c  1993-04-12  NA          NA
2 d   f  g  2021-04-18  Missing     NA
3 a   b  c  1993-04-12  Not Missing NA
4 d   f  g  2021-04-18  Not Missing NA

In [168]:
str(test_table)

'data.frame':	4 obs. of  6 variables:
 $ V1: Factor w/ 2 levels "a","d": 1 2 1 2
 $ V2: Factor w/ 2 levels " b"," f": 1 2 1 2
 $ V3: Factor w/ 2 levels " c"," g": 1 2 1 2
 $ V4: Factor w/ 2 levels " 1993-04-12",..: 1 2 1 2
 $ V5: Factor w/ 3 levels " Missing"," NA",..: 2 1 3 3
 $ V6: logi  NA NA NA NA

In [178]:
na.omit(test_table)

     V1 V2 V3 V4 V5 V6

In [186]:
test_table

  V1 V2 V3 V4          V5           V6
1 a   b  c  1993-04-12  NA          NA
2 d   f  g  2021-04-18  Missing     NA
3 a   b  c  1993-04-12  Not Missing NA
4 d   f  g  2021-04-18  Not Missing NA

In [180]:
# сохранить дф

In [188]:
write.csv(test_table, file = "test.csv")

In [189]:
head(attitude)

  rating complaints privileges learning raises critical advance
1 43     51         30         39       61     92       45
2 63     64         51         54       63     73       47
3 71     70         68         69       76     86       48
4 61     63         45         47       54     84       35
5 81     78         56         66       71     83       47
6 43     55         49         44       54     49       34

In [192]:
df_at <- attitude

In [195]:
subset(sel = -rating, sub = rating < 50, df_at)

   complaints privileges learning raises critical advance
1  51         30         39       61     92       45
6  55         49         44       54     49       34
24 37         42         58       50     57       49
28 57         44         45       51     83       38

In [198]:
df_at[df_at$rating < 50, names(df_at) != "rating"]

   complaints privileges learning raises critical advance
1  51         30         39       61     92       45
6  55         49         44       54     49       34
24 37         42         58       50     57       49
28 57         44         45       51     83       38

In [199]:
subset(df_at, rating < 50, -rating)

   complaints privileges learning raises critical advance
1  51         30         39       61     92       45
6  55         49         44       54     49       34
24 37         42         58       50     57       49
28 57         44         45       51     83       38

In [208]:
max(quakes$mag)

[1] 6.4

In [209]:
summary(quakes)

      lat              long           depth            mag
 Min.   :-38.59   Min.   :165.7   Min.   : 40.0   Min.   :4.00
 1st Qu.:-23.47   1st Qu.:179.6   1st Qu.: 99.0   1st Qu.:4.30
 Median :-20.30   Median :181.4   Median :247.0   Median :4.60
 Mean   :-20.64   Mean   :179.5   Mean   :311.4   Mean   :4.62
 3rd Qu.:-17.64   3rd Qu.:183.2   3rd Qu.:543.0   3rd Qu.:4.90
 Max.   :-10.72   Max.   :188.1   Max.   :680.0   Max.   :6.40
    stations
 Min.   : 10.00
 1st Qu.: 18.00
 Median : 27.00
 Mean   : 33.42
 3rd Qu.: 42.00
 Max.   :132.00

In [457]:
avian <- read.table("avianHabitat.csv", header = T, dec = ".", sep = ","); head(avian)

  Site         Observer Subpoint VOR PDB DBHt PW WHt PE EHt PA AHt PH HHt PL
1 BunkerHill27 RA       1        6.0 3   5.2  0  0.0 4  2.9 0  0   4  3.0 0
2 BunkerHill27 RA       2        4.5 2   3.1  3  4.7 3  4.1 0  0   3  3.5 2
3 BunkerHill27 RA       3        2.0 4   5.5  1  5.8 3  3.9 0  0   3  7.5 0
4 BunkerHill27 RA       4        2.5 3   6.2  0  0.0 3  4.0 0  0   4  5.0 0
5 BunkerHill27 RA       5        4.0 4   5.4  0  0.0 3  3.5 0  0   4  3.7 0
6 BunkerHill27 JT       6        2.0 3   4.0  0  0.0 3  4.1 0  0   2  3.5 0
  LHt PB
1 0   0
2 1   0
3 0   0
4 0   0
5 0   0
6 0   0

In [216]:
str(avian)

'data.frame':	1070 obs. of  17 variables:
 $ Site    : Factor w/ 101 levels "BunkerHill11",..: 14 14 14 14 14 14 14 14 14 14 ...
 $ Observer: Factor w/ 3 levels "JT","RA","RR": 2 2 2 2 2 1 1 1 1 1 ...
 $ Subpoint: int  1 2 3 4 5 6 7 8 9 10 ...
 $ VOR     : num  6 4.5 2 2.5 4 2 5.5 4 3.5 3.5 ...
 $ PDB     : int  3 2 4 3 4 3 3 2 2 2 ...
 $ DBHt    : num  5.2 3.1 5.5 6.2 5.4 4 5.2 4.4 5.7 4.8 ...
 $ PW      : int  0 3 1 0 0 0 2 1 1 0 ...
 $ WHt     : num  0 4.7 5.8 0 0 0 6.3 4.1 5.7 0 ...
 $ PE      : int  4 3 3 3 3 3 2 2 2 1 ...
 $ EHt     : num  2.9 4.1 3.9 4 3.5 4.1 2.6 4.3 5.2 1.7 ...
 $ PA      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ AHt     : num  0 0 0 0 0 0 0 0 0 0 ...
 $ PH      : int  4 3 3 4 4 2 4 5 4 5 ...
 $ HHt     : num  3 3.5 7.5 5 3.7 3.5 5.8 8.2 6.9 5.7 ...
 $ PL      : int  0 2 0 0 0 0 0 0 0 0 ...
 $ LHt     : num  0 1 0 0 0 0 0 0 0 0 ...
 $ PB      : int  0 0 0 0 0 0 0 0 0 0 ...

In [223]:
summary(avian)

                Site     Observer    Subpoint           VOR
 LivingstonCreek13: 15   JT:150   Min.   : 1.000   Min.   : 0.000
 LivingstonCreek14: 15   RA:574   1st Qu.: 3.000   1st Qu.: 0.000
 LivingstonCreek17: 15   RR:346   Median : 6.000   Median : 1.000
 LivingstonCreek18: 15            Mean   : 5.921   Mean   : 1.203
 McAdamCreek11    : 15            3rd Qu.: 8.000   3rd Qu.: 1.500
 McAdamCreek12    : 15            Max.   :15.000   Max.   :19.000
 (Other)          :980
      PDB              DBHt               PW             WHt
 Min.   :0.0000   Min.   : 0.0000   Min.   :0.000   Min.   : 0.000
 1st Qu.:0.0000   1st Qu.: 0.0000   1st Qu.:0.000   1st Qu.: 0.000
 Median :0.0000   Median : 0.0000   Median :1.000   Median : 0.400
 Mean   :0.8682   Mean   : 0.7827   Mean   :1.151   Mean   : 1.027
 3rd Qu.:2.0000   3rd Qu.: 1.2000   3rd Qu.:2.000   3rd Qu.: 1.100
 Max.   :5.0000   Max.   :10.0000   Max.   :6.000   Max.   :24.500

       PE             EHt               PA               AHt
 Min.   :0.000   Min.   :0.0000   Min.   :0.00000   Min.   : 0.000
 1st Qu.:1.000   1st Qu.:0.3000   1st Qu.:0.00000   1st Qu.: 0.000
 Median :2.000   Median :0.8000   Median :0.00000   Median : 0.000
 Mean   :2.239   Mean   :0.9659   Mean   :0.04206   Mean   : 0.186
 3rd Qu.:3.000   3rd Qu.:1.4000   3rd Qu.:0.00000   3rd Qu.: 0.000
 Max.   :6.000   Max.   :5.3000   Max.   :6.00000   Max.   :31.500

       PH             HHt              PL             LHt
 Min.   :0.000   Min.   :0.000   Min.   :0.000   Min.   :0.0000
 1st Qu.:2.000   1st Qu.:1.400   1st Qu.:0.000   1st Qu.:0.0000
 Median :3.000   Median :2.300   Median :1.000   Median :0.2000
 Mean   :2.867   Mean   :2.321   Mean   :1.652   Mean   :0.2685
 3rd Qu.:4.000   3rd Qu.:3.100   3rd Qu.:3.000   3rd Qu.:0.5000
 Max.   :6.000   Max.   :8.200   Max.   :6.000   Max.   :1.3000

       PB
 Min.   :0.0000
 1st Qu.:0.0000
 Median :0.0000
 Mean   :0.7318
 3rd Qu.:1.0000
 Max.   :6.0000

In [224]:
# узнать, есть ли проаущенные данные

In [225]:
any(!complete.cases(avian))

[1] FALSE

In [227]:
# PDB содержит проценты, поэтому нужно сдлелать проверку на < 0

In [228]:
any(avian$PDB < 0)

[1] FALSE

In [229]:
any(avian$PDB > 100)

[1] FALSE

In [230]:
check_percent_range <- function(x) {
    any(x < 0 | x > 100)
}

In [231]:
check_percent_range(avian$PDB)

[1] FALSE

In [234]:
check_percent_range(avian[c("PDB", "PW", "PE")])

[1] FALSE

In [235]:
names(avian)

 [1] "Site"     "Observer" "Subpoint" "VOR"      "PDB"      "DBHt"
 [7] "PW"       "WHt"      "PE"       "EHt"      "PA"       "AHt"
[13] "PH"       "HHt"      "PL"       "LHt"      "PB"

In [277]:
test <- paste(names(avian), collapse = ", ");test

[1] "Site, Observer, Subpoint, VOR, PDB, DBHt, PW, WHt, PE, EHt, PA, AHt, PH, HHt, PL, LHt, PB"

In [279]:
coverage_variables <- names(avian)[-c(1:4)][c(T, F)];coverage_variables

[1] "PDB" "PW"  "PE"  "PA"  "PH"  "PL"  "PB"

In [280]:
avian$total_coverage <- rowSums(avian[, coverage_variables]);head(avian)

  Site         Observer Subpoint VOR PDB DBHt PW WHt PE EHt PA AHt PH HHt PL
1 BunkerHill27 RA       1        6.0 3   5.2  0  0.0 4  2.9 0  0   4  3.0 0
2 BunkerHill27 RA       2        4.5 2   3.1  3  4.7 3  4.1 0  0   3  3.5 2
3 BunkerHill27 RA       3        2.0 4   5.5  1  5.8 3  3.9 0  0   3  7.5 0
4 BunkerHill27 RA       4        2.5 3   6.2  0  0.0 3  4.0 0  0   4  5.0 0
5 BunkerHill27 RA       5        4.0 4   5.4  0  0.0 3  3.5 0  0   4  3.7 0
6 BunkerHill27 JT       6        2.0 3   4.0  0  0.0 3  4.1 0  0   2  3.5 0
  LHt PB total_coverage
1 0   0  11
2 1   0  13
3 0   0  11
4 0   0  10
5 0   0  11
6 0   0   8

In [281]:
summary(avian$total_coverage)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  2.000   8.000  10.000   9.552  11.000  17.000

In [446]:
avian2 <- read.table("avianHabitat2.csv", skip = 5, header = T, sep = ";", dec = ".",
          comment.char = c("%"), na.strings = "Don't remember", quote = "")

In [451]:
avian2

   Site           Subpoint VOR PDB DBHt PW WHt  PE EHt PA AHt PH HHt PL LHt PB
1  HortonCreek111  1       3.0 0   0.0  0   0.0 4  3.5 0  0   3  5.0 0  0.0 0
2  HortonCreek111  2       3.0 0   0.0  4  18.5 0  0.0 0  0   4  5.7 0  0.0 0
3  HortonCreek111  3       2.0 0   0.0  3  11.3 2  3.0 0  0   4  4.9 1  0.2 0
4  HortonCreek111  4       3.5 0   0.0  4  15.8 0  0.0 0  0   3  4.2 0  0.0 0
5  HortonCreek111  5       0.0 1   0.3  2   0.5 4  0.4 0  0   2  1.4 5  0.3 0
6  HortonCreek111  6       0.0 2   0.7  3   0.5 4  0.5 0  0   1  1.6 3  0.5 1
7  HortonCreek111  7       0.0 2   0.3  0   0.0 5  0.4 0  0   2  1.8 5  0.3 0
8  HortonCreek111 NA       0.0 2   0.7  0   0.0 5  0.6 0  0   1  1.6 4  0.2 1
9  HortonCreek111 NA       0.0 1   0.4  2   0.3 3  0.3 0  0   2  1.3 5  0.4 0
10 HortonCreek112  1       0.0 1   0.8  0   0.0 3  0.3 0  0   1  0.9 4  0.4 1
11 HortonCreek112  2       0.0 2   0.5  0   0.0 3  0.4 0  0   2  0.7 3  0.1 1
12 HortonCreek112  3       0.0 1   0.1  0   0.0 3  0.2 0  0   1  0.5 4  0.1 2
13 HortonCreek112  4       0.0 2   0.3  0   0.0 3  0.2 0  0   1  0.5 4  0.1 1
14 HortonCreek112  5       0.0 0   0.0  0   0.0 4  0.7 0  0   1  0.5 2  0.1 2
15 HortonCreek112  6       0.0 0   0.0  0   0.0 2  0.3 0  0   2  0.7 3  0.3 3
16 HortonCreek112  7       0.0 0   0.0  2   0.3 3  0.3 0  0   2  0.8 4  0.4 2
17 HortonCreek112  8       0.0 3   0.7  0   0.0 0  0.0 0  0   1  3.1 5  0.5 0
18 HortonCreek112  9       0.0 0   0.0  0   0.0 2  0.2 0  0   2  0.7 1  0.3 4
   Observer
1  KL
2  KL
3  KL
4  KL
5  KL
6  KL
7  KL
8  KL
9  KL
10 KL
11 KL
12 KL
13 KL
14 KL
15 KL
16 KL
17 KL
18 KL

In [452]:
str(avian2)

'data.frame':	18 obs. of  17 variables:
 $ Site    : Factor w/ 2 levels "HortonCreek111",..: 1 1 1 1 1 1 1 1 1 2 ...
 $ Subpoint: int  1 2 3 4 5 6 7 NA NA 1 ...
 $ VOR     : num  3 3 2 3.5 0 0 0 0 0 0 ...
 $ PDB     : int  0 0 0 0 1 2 2 2 1 1 ...
 $ DBHt    : num  0 0 0 0 0.3 0.7 0.3 0.7 0.4 0.8 ...
 $ PW      : int  0 4 3 4 2 3 0 0 2 0 ...
 $ WHt     : num  0 18.5 11.3 15.8 0.5 0.5 0 0 0.3 0 ...
 $ PE      : int  4 0 2 0 4 4 5 5 3 3 ...
 $ EHt     : num  3.5 0 3 0 0.4 0.5 0.4 0.6 0.3 0.3 ...
 $ PA      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ AHt     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ PH      : int  3 4 4 3 2 1 2 1 2 1 ...
 $ HHt     : num  5 5.7 4.9 4.2 1.4 1.6 1.8 1.6 1.3 0.9 ...
 $ PL      : int  0 0 1 0 5 3 5 4 5 4 ...
 $ LHt     : num  0 0 0.2 0 0.3 0.5 0.3 0.2 0.4 0.4 ...
 $ PB      : num  0 0 0 0 0 1 0 1 0 1 ...
 $ Observer: chr  "KL" "KL" "KL" "KL" ...

In [453]:
str(avian)

'data.frame':	1070 obs. of  18 variables:
 $ Site          : Factor w/ 101 levels "BunkerHill11",..: 14 14 14 14 14 14 14 14 14 14 ...
 $ Observer      : Factor w/ 3 levels "JT","RA","RR": 2 2 2 2 2 1 1 1 1 1 ...
 $ Subpoint      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ VOR           : num  6 4.5 2 2.5 4 2 5.5 4 3.5 3.5 ...
 $ PDB           : int  3 2 4 3 4 3 3 2 2 2 ...
 $ DBHt          : num  5.2 3.1 5.5 6.2 5.4 4 5.2 4.4 5.7 4.8 ...
 $ PW            : int  0 3 1 0 0 0 2 1 1 0 ...
 $ WHt           : num  0 4.7 5.8 0 0 0 6.3 4.1 5.7 0 ...
 $ PE            : int  4 3 3 3 3 3 2 2 2 1 ...
 $ EHt           : num  2.9 4.1 3.9 4 3.5 4.1 2.6 4.3 5.2 1.7 ...
 $ PA            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ AHt           : num  0 0 0 0 0 0 0 0 0 0 ...
 $ PH            : int  4 3 3 4 4 2 4 5 4 5 ...
 $ HHt           : num  3 3.5 7.5 5 3.7 3.5 5.8 8.2 6.9 5.7 ...
 $ PL            : int  0 2 0 0 0 0 0 0 0 0 ...
 $ LHt           : num  0 1 0 0 0 0 0 0 0 0 ...
 $ PB            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ total_coverage: num  11 13 11 10 11 8 11 10 9 8 ...

In [456]:
summary(avian2)

             Site      Subpoint          VOR              PDB
 HortonCreek111:9   Min.   :1.000   Min.   :0.0000   Min.   :0.0000
 HortonCreek112:9   1st Qu.:2.750   1st Qu.:0.0000   1st Qu.:0.0000
                    Median :4.500   Median :0.0000   Median :1.0000
                    Mean   :4.562   Mean   :0.6389   Mean   :0.9444
                    3rd Qu.:6.250   3rd Qu.:0.0000   3rd Qu.:2.0000
                    Max.   :9.000   Max.   :3.5000   Max.   :3.0000
                    NA's   :2
      DBHt              PW             WHt               PE
 Min.   :0.0000   Min.   :0.000   Min.   : 0.000   Min.   :0.000
 1st Qu.:0.0000   1st Qu.:0.000   1st Qu.: 0.000   1st Qu.:2.000
 Median :0.2000   Median :0.000   Median : 0.000   Median :3.000
 Mean   :0.2667   Mean   :1.111   Mean   : 2.622   Mean   :2.778
 3rd Qu.:0.4750   3rd Qu.:2.000   3rd Qu.: 0.450   3rd Qu.:4.000
 Max.   :0.8000   Max.   :4.000   Max.   :18.500   Max.   :5.000

      EHt               PA         AHt          PH             HHt
 Min.   :0.0000   Min.   :0   Min.   :0   Min.   :1.000   Min.   :0.500
 1st Qu.:0.2000   1st Qu.:0   1st Qu.:0   1st Qu.:1.000   1st Qu.:0.700
 Median :0.3000   Median :0   Median :0   Median :2.000   Median :1.350
 Mean   :0.6278   Mean   :0   Mean   :0   Mean   :1.944   Mean   :1.994
 3rd Qu.:0.4750   3rd Qu.:0   3rd Qu.:0   3rd Qu.:2.000   3rd Qu.:2.775
 Max.   :3.5000   Max.   :0   Max.   :0   Max.   :4.000   Max.   :5.700

       PL             LHt               PB       Observer
 Min.   :0.000   Min.   :0.0000   Min.   :0.00   KL:18
 1st Qu.:1.250   1st Qu.:0.1000   1st Qu.:0.00
 Median :3.500   Median :0.2500   Median :1.00
 Mean   :2.944   Mean   :0.2333   Mean   :1.00
 3rd Qu.:4.000   3rd Qu.:0.3750   3rd Qu.:1.75
 Max.   :5.000   Max.   :0.5000   Max.   :4.00

In [455]:
avian2$Observer <- as.factor("KL")

In [459]:
bind_avian <- rbind(avian, avian2)

In [460]:
head(bind_avian)

  Site         Observer Subpoint VOR PDB DBHt PW WHt PE EHt PA AHt PH HHt PL
1 BunkerHill27 RA       1        6.0 3   5.2  0  0.0 4  2.9 0  0   4  3.0 0
2 BunkerHill27 RA       2        4.5 2   3.1  3  4.7 3  4.1 0  0   3  3.5 2
3 BunkerHill27 RA       3        2.0 4   5.5  1  5.8 3  3.9 0  0   3  7.5 0
4 BunkerHill27 RA       4        2.5 3   6.2  0  0.0 3  4.0 0  0   4  5.0 0
5 BunkerHill27 RA       5        4.0 4   5.4  0  0.0 3  3.5 0  0   4  3.7 0
6 BunkerHill27 JT       6        2.0 3   4.0  0  0.0 3  4.1 0  0   2  3.5 0
  LHt PB
1 0   0
2 1   0
3 0   0
4 0   0
5 0   0
6 0   0

In [461]:
dim(bind_avian)

[1] 1088   17

In [462]:
bind_avian$total_coverage <- rowSums(bind_avian[, coverage_variables]);head(bind_avian)

  Site         Observer Subpoint VOR PDB DBHt PW WHt PE EHt PA AHt PH HHt PL
1 BunkerHill27 RA       1        6.0 3   5.2  0  0.0 4  2.9 0  0   4  3.0 0
2 BunkerHill27 RA       2        4.5 2   3.1  3  4.7 3  4.1 0  0   3  3.5 2
3 BunkerHill27 RA       3        2.0 4   5.5  1  5.8 3  3.9 0  0   3  7.5 0
4 BunkerHill27 RA       4        2.5 3   6.2  0  0.0 3  4.0 0  0   4  5.0 0
5 BunkerHill27 RA       5        4.0 4   5.4  0  0.0 3  3.5 0  0   4  3.7 0
6 BunkerHill27 JT       6        2.0 3   4.0  0  0.0 3  4.1 0  0   2  3.5 0
  LHt PB total_coverage
1 0   0  11
2 1   0  13
3 0   0  11
4 0   0  10
5 0   0  11
6 0   0   8

In [464]:
mean(bind_avian$total_coverage)

[1] 9.571691

In [465]:
head(avian)

  Site         Observer Subpoint VOR PDB DBHt PW WHt PE EHt PA AHt PH HHt PL
1 BunkerHill27 RA       1        6.0 3   5.2  0  0.0 4  2.9 0  0   4  3.0 0
2 BunkerHill27 RA       2        4.5 2   3.1  3  4.7 3  4.1 0  0   3  3.5 2
3 BunkerHill27 RA       3        2.0 4   5.5  1  5.8 3  3.9 0  0   3  7.5 0
4 BunkerHill27 RA       4        2.5 3   6.2  0  0.0 3  4.0 0  0   4  5.0 0
5 BunkerHill27 RA       5        4.0 4   5.4  0  0.0 3  3.5 0  0   4  3.7 0
6 BunkerHill27 JT       6        2.0 3   4.0  0  0.0 3  4.1 0  0   2  3.5 0
  LHt PB
1 0   0
2 1   0
3 0   0
4 0   0
5 0   0
6 0   0

In [469]:
names(avian)[-c(1:5)][c(T, F)]

[1] "DBHt" "WHt"  "EHt"  "AHt"  "HHt"  "LHt"

In [471]:
max_height <- function(x) {
    max(x)
}

In [472]:
max_height(avian[names(avian)[-c(1:5)][c(T, F)]])

[1] 31.5

In [479]:
head(order(avian[names(avian)[-c(1:5)][c(T, F)]], decreasing = F))

[1] 20 23 29 30 31 32

In [528]:
summary(avian[names(avian)[-c(1:5)][c(T, F)]])[6,]

               DBHt                 WHt                 EHt                 AHt
"Max.   :10.0000  "  "Max.   :24.500  "  "Max.   :5.3000  "  "Max.   :31.500  "
                HHt                 LHt
  "Max.   :8.200  "  "Max.   :1.3000  "

In [526]:
height_variables <- names(avian)[-(1:5)][c(T, F)]
sort(sapply(avian[height_variables], max), d = T)

 AHt  WHt DBHt  HHt  EHt  LHt
31.5 24.5 10.0  8.2  5.3  1.3

In [527]:
sort(sapply(avian[names(avian)[-(1:5)][c(T, F)]], max), d = T)

 AHt  WHt DBHt  HHt  EHt  LHt
31.5 24.5 10.0  8.2  5.3  1.3

In [529]:
a5 <- summary(avian[c("DBHt", "WHt", "EHt", "AHt", "HHt", "LHt")])
sort(a5[6, ])

                LHt                DBHt                 WHt                 AHt
 "Max.   :1.3000  " "Max.   :10.0000  "  "Max.   :24.500  "  "Max.   :31.500  "
                EHt                 HHt
 "Max.   :5.3000  "   "Max.   :8.200  "

In [530]:
# Общий глоссарий для этого урока:

# ?data.frame
# ?str
# ?rownames, ?colnames, ?dimnames, ?nrow, ?ncol, ?dim
# ?subset, ?rbind, ?cbind, ?merge
# ?read.table (?read.csv, ?read.delim)
# ?write.table (?write.csv, ?write.delim)
# ?complete.cases, ?na.omit
# ?write.table (?write.csv)