In [49]:
# generic функции

In [2]:
length(methods(print))

[1] 194

In [11]:
# функции без сторонних эффектов

In [4]:
f <- function(k) {
    k <- k + 1
    a <- a + k^2
    a
}

In [5]:
k <- 5

In [6]:
f(k)

ERROR: Error in f(k): объект 'a' не найден

In [7]:
a <- 10

In [8]:
f(k)

[1] 46

In [9]:
a

[1] 10

In [10]:
k

[1] 5

In [12]:
# replicate

In [13]:
get_status <- function(n, p = 0.1) {
    x <- rbinom(n, 1, p)
    sum(x)
}

In [43]:
replicate(5, get_status(100))

[1] 11 13 10  4 15

In [44]:
# mapply

In [45]:
# многомерная версия sapply

In [46]:
mapply(seq, from = 1:4, to = 2:5, by = 1/(1+1:4))

[[1]]
[1] 1.0 1.5 2.0

[[2]]
[1] 2.000000 2.333333 2.666667 3.000000

[[3]]
[1] 3.00 3.25 3.50 3.75 4.00

[[4]]
[1] 4.0 4.2 4.4 4.6 4.8 5.0

In [47]:
list(seq(1,2, 1/2), seq(2, 3, 1/3),
    seq(3, 4, 1/4), seq(4, 5, 1/5))

[[1]]
[1] 1.0 1.5 2.0

[[2]]
[1] 2.000000 2.333333 2.666667 3.000000

[[3]]
[1] 3.00 3.25 3.50 3.75 4.00

[[4]]
[1] 4.0 4.2 4.4 4.6 4.8 5.0

In [50]:
# outer

In [51]:
m <- outer(letters, LETTERS, paste0)

In [53]:
dim(m)

[1] 26 26

In [57]:
print(diag(m))

 [1] "aA" "bB" "cC" "dD" "eE" "fF" "gG" "hH" "iI" "jJ" "kK" "lL" "mM" "nN" "oO"
[16] "pP" "qQ" "rR" "sS" "tT" "uU" "vV" "wW" "xX" "yY" "zZ"

In [58]:
m[1:5, 1:5]

     [,1] [,2] [,3] [,4] [,5]
[1,] aA   aB   aC   aD   aE
[2,] bA   bB   bC   bD   bE
[3,] cA   cB   cC   cD   cE
[4,] dA   dB   dC   dD   dE
[5,] eA   eB   eC   eD   eE

In [59]:
# Vectorize

In [60]:
lp_norm <- function (x, p = 2) {
    if (p >= 1) sum(abs(x)^p)^(1/p) else NaN
}

In [61]:
lp_norm(1:10, -1:4)

Warning message in if (p >= 1) sum(abs(x)^p)^(1/p) else NaN:
“длина условия > 1, будет использован только первый элемент”

[1] NaN

In [62]:
lp_norm <- Vectorize(lp_norm, "p")

In [63]:
lp_norm(1:10, -1:4)

[1]      NaN      NaN 55.00000 19.62142 14.46245 12.61600

In [64]:
# do.call

In [65]:
df1 <- data.frame(id = 1:2, value = rnorm(2))
df2 <- data.frame(id = 3:4, value = runif(2))
df3 <- data.frame(id = 222, value = 7)
do.call(rbind, list(df1, df2, df3)) #rbind(df1,df2, df3)

  id  value
1   1 -0.03547824
2   2  0.68178996
3   3  0.85484528
4   4  0.98649906
5 222  7.00000000

In [66]:
# do.call(rbind, lapply(list.files(), function(file) read.csv(file)))

In [67]:
# Глоссарий
# s3, s4, reference classes 
# Generic function
# Copy-on-modify semantics
# ?replicate
# ?mapply
# ?outer
# ?Vectirize
# ?do.call

In [191]:
cat_temper <- c("задиристый", "игривый", "спокойный", "ленивый")
cat_color <- c("белый", "серый", "чёрный", "рыжий")
cat_age <- c("кот", "котёнок")
cat_trait <- c("с умными глазами", "с острыми когтями", "с длинными усами")

In [192]:
cat_df <- expand.grid(cat_temper, cat_color, cat_age, cat_trait,
                     stringsAsFactors=FALSE)

In [223]:
ncol(cat_df)

[1] 4

In [222]:
sort(as.vector(mapply(paste, cat_df$Var1, cat_df$Var2, cat_df$Var3, cat_df$Var4)))[42]

[1] "игривый серый котёнок с умными глазами"

In [226]:
sort(apply(cat_df, 1, paste, collapse = " "))[42]

[1] "игривый серый котёнок с умными глазами"

In [230]:
simulate_walk <- function(lower = -10, upper = 10, n_max = 200, p = 1e-3) {
    current_position <- (lower + upper)/2
    for (i in 1:n_max) {
        is_absorbed <- rbinom(1, 1, p)
        if (is_absorbed) return (list(status= "Absorbed",
                                     position = current_position,
                                     steps = i))
        current_position <- current_position + rnorm(1)
        if (current_position < lower) return (list(status = "Left breach",
                                                  position = current_position,
                                                  steps = i))
        if (current_position > upper) return (list(status = "Right breach",
                                                  position = current_position,
                                                  steps = i))
    }
    return(list(status = "Max steps reached",
               position = current_position,
               steps = n_max))
}

In [231]:
result <- replicate(1000, simulate_walk(), simplify = F)

In [233]:
result <- data.frame(
status = sapply(result, function(x) x$status),
                position = sapply(result, function(x) x$position),
                steps = sapply(result, function(x) x$steps))

In [236]:
head(result)

  status            position  steps
1 Max steps reached  -6.64294 200
2 Right breach       10.83053  82
3 Right breach       10.56579  70
4 Left breach       -10.46484  53
5 Right breach       10.93152 162
6 Left breach       -10.34654 115

In [238]:
str(result)

'data.frame':	1000 obs. of  3 variables:
 $ status  : Factor w/ 4 levels "Absorbed","Left breach",..: 3 4 4 2 4 2 4 4 3 2 ...
 $ position: num  -6.64 10.83 10.57 -10.46 10.93 ...
 $ steps   : num  200 82 70 53 162 115 49 64 200 197 ...

In [239]:
tapply(result$position, result$status, length)

         Absorbed       Left breach Max steps reached      Right breach
               81               413               109               397

In [240]:
tapply(result$steps, result$status, mean)

         Absorbed       Left breach Max steps reached      Right breach
         68.32099          81.69007         200.00000          77.42821

In [242]:
simulate_walk <- function(radius = 6, n_max = 100, p = 1e-2) {
  current_position <- c(0, 0)
  for (i in 1:n_max) {
    is_absorbed <- rbinom(1, 1, p)
    if (is_absorbed) return(list(status = "Absorbed", 
                                 position = current_position, 
                                 steps = i))
    current_position <- c(current_position[1] + rnorm(1), current_position[2] + rnorm(1))
    if (sqrt(sum(current_position^2)) > radius) return(list(status = "breach", 
                                                      position = current_position, 
                                                      steps = i))
  }
  return(list(status = "Max steps reached", 
              position = current_position,
              steps = n_max))
}

result <- replicate(100000, simulate_walk(), simplify = FALSE)
result <- data.frame(
  status = sapply(result, function(x) x$status),
  position_x = sapply(result, function(x) x$position[1]),
  position_y = sapply(result, function(x) x$position[2]),
  steps = sapply(result, function(x) x$steps)
)

print(sum(result$status == "breach"))

[1] 81067

In [254]:
methods(plot)

 [1] plot.acf*           plot.data.frame*    plot.decomposed.ts*
 [4] plot.default        plot.dendrogram*    plot.density*
 [7] plot.ecdf           plot.factor*        plot.formula*
[10] plot.function       plot.hclust*        plot.histogram*
[13] plot.HoltWinters*   plot.isoreg*        plot.lm*
[16] plot.medpolish*     plot.mlm*           plot.ppr*
[19] plot.prcomp*        plot.princomp*      plot.profile.nls*
[22] plot.raster*        plot.spec*          plot.stepfun
[25] plot.stl*           plot.table*         plot.ts
[28] plot.tskernel*      plot.TukeyHSD*
see '?methods' for accessing help and source code

In [255]:
f <- function(y) {
  y <- x + y
  y
}

g <- function(x) {
  y <- f(x)
  f <- function(x) {
    y - x
  }
  y - f(x)
}

x <- 10
y <- 1
f(x); f(y)
g(x); g(y)
x; y

[1] 20

[1] 11

[1] 10

[1] 1

[1] 10

[1] 1

In [262]:
system.time(
m1(x, y)
)

   user  system elapsed
   0.01    0.00    0.01

In [268]:
list(system.time(m1(x, y)), system.time(m2(x, y)), system.time(m3(x, y)))

[[1]]
   user  system elapsed
  0.011   0.000   0.011

[[2]]
   user  system elapsed
  0.001   0.000   0.001

[[3]]
   user  system elapsed
      0       0       0

In [270]:
m1 <- function(x, y) {
  m <- matrix(0, length(x), length(y))
  for (i in 1:length(x)) 
    for (j in 1:length(y)) {
      m[i, j] = x[i] * y[j]
    }
  m
}

m2 <- function(x, y) {
  vapply(y, function(i) i * x, numeric(length(x)))
}

m3 <- function(x, y) x %o% y

x <- rnorm(100)
y <- runif(1000)
all.equal(m1(x, y), m2(x, y))
all.equal(m2(x, y), m3(x, y))

library(microbenchmark)
microbenchmark(m1(x, y), m2(x, y), m3(x, y))

[1] TRUE

[1] TRUE

    expr     time
1   m2(x, y)  668420
2   m3(x, y)  978018
3   m2(x, y)  544733
4   m1(x, y) 7559007
5   m1(x, y) 7530144
6   m1(x, y) 7521839
7   m3(x, y)   79243
8   m1(x, y) 7523972
9   m3(x, y)   72156
10  m1(x, y) 7508999
11  m3(x, y)   69478
12  m2(x, y)  528079
13  m2(x, y)  521975
14  m2(x, y)  512712
15  m1(x, y) 7684872
16  m1(x, y) 7561526
17  m2(x, y)  520700
18  m1(x, y) 7627770
19  m1(x, y) 7493080
20  m1(x, y) 7483474
21  m1(x, y) 7652948
22  m1(x, y) 9346413
23  m1(x, y) 7435432
24  m2(x, y)  520136
25  m2(x, y)  500770
26  m3(x, y)   72965
27  m2(x, y)  502172
28  m3(x, y)   63917
29  m3(x, y)   61405
30  m2(x, y)  497893
... ...      ...
271 m1(x, y) 7499896
272 m2(x, y)  502488
273 m1(x, y) 7482840
274 m3(x, y)   68681
275 m2(x, y)  551745
276 m2(x, y)  497618
277 m1(x, y) 7438102
278 m3(x, y)   64861
279 m2(x, y)  504944
280 m3(x, y)   61658
281 m3(x, y)   61118
282 m2(x, y)  497439
283 m1(x, y) 7465438
284 m2(x, y)  507788
285 m2(x, y)  509956
286 m2(x, y)  525264
287 m2(x, y)  498003
288 m1(x, y) 7577745
289 m2(x, y)  496160
290 m1(x, y) 7582313
291 m2(x, y)  516918
292 m3(x, y)   80253
293 m3(x, y)   60497
294 m1(x, y) 7403524
295 m3(x, y)   62210
296 m1(x, y) 7458530
297 m3(x, y)   67088
298 m3(x, y)   62737
299 m1(x, y) 7520909
300 m1(x, y) 7572343

In [271]:
# Общий глоссарий для этого урока:

# S3, S4, reference classes
# Generic function
# Copy-on-modify semantics
# ?replicate
# ?mapply
# ?outer
# ?Vectorize
# ?do.call